/* Adicionar aqui toda a estilização criada para sua aplicação. */

body {
margin: 0;
    -family: sans-serif;

}

:root {
    --azul: #32b9cd;
    --amarelo: #e3b062;
}

.header {
    background-color: black;
    border-bottom: 3px solid var(--azul);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;

}

.titulo {
    color: var(--azul)
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: or;
    list-style: none;
    width: 300px;
}

.navbar a {
    color: var(--amarelo);
    text-decoration: none;
}

.agora {
    font-weight: bolder;
}

.banner{
    padding: 0;
}
.fotoleao1{
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
    
}

/* .banner .container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.banner .container p {
    width: 90%;
    margin: 0;
    color: white;
    font-size: 24px;
}

.banner .container span {
    font-weight: bolder;
} */

.social {
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    width: 120px;
    height: 120px;
}

.box h4 {
    margin: 0;
    margin-top: 10px;
    color: #E4005A;
}

.footer {
    height: 120px;
    width: 100%;
    background-color: orangered;
}

.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer h4 {
    margin-bottom: 0;
}

.login {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../assets/imgs/tela-para-quadro-140x70-leao-africano-entardecer-sol-africano.webp');
    background-size: cover;

}

.login .card {
    justify-content: center;
    height: 1%;
    width: 95%;
    padding: 50px;
    background-color: #dcdcdc;
    border-radius: 1rem;
}

.login .card-login {
    color: var(--rosa);
    justify-content: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.login .card-cadastro {
    color: var(--rosa);
    justify-content: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.login .container h2 {
    font-size: 25px;
    font-family: sans-serif;
    
}

.formulario {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formulario .campo span {
    color: #e4005A;
}

.formulario .campo {
    width: 450px;
    justify-content: center;
}

.formulario .campo input {
    display: flex;
    border: var(--azul) solid 2px;
    justify-content: center;
    width: 95%;
    padding: 2%;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.botao {
    width: 25%;
    padding: 8px;
    background-color: var(--rosa);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.botao:hover {
    background-color: #cf0f5c;
}